<div class="player-vote">
	<div *ngIf="players" class="players">
		<div *ngFor="#player of players" class="player" [class.dead]="isPlayerDead(player)">
			<div class="player-name">
				{{player.pseudo}}
				<i [hidden]="!isLover || !player.lover" class="fa fa-heart"></i>
			</div>
			<div *ngIf="isMJ && player.vote" class="player-vote-for">
				<i class="fa fa-arrow-right"></i>&nbsp;{{player.vote}}
			</div>
			<div *ngIf="isMJ && !isPlayerDead(player)" class="player-vote-count">
				{{player.vote_count || 0}}&nbsp;<i class="fa fa-thumbs-up"></i>
			</div>
			<div *ngIf="canVote(player)" class="player-vote-actions">
				<button (click)="vote(player.pseudo)" class="btn btn-primary player-vote-btn"></button>
			</div>
		</div>
	</div>
</div>
