<div id="voyante" class="content">
	<h2>La voyante choisi qui révélé</h2>
	<div *ngIf="isMJ">
		<div *ngIf="!revealed">
			En attente du choix de la voyante.
		</div>
	</div>
	<div *ngIf="(isVoyante && !isVoyanteDead) || isMJ">
		<div *ngIf="players" class="players">
			<div *ngFor="#player of players" class="player">
				<div class="player-name">
					{{player.pseudo}}
					<i [hidden]="!isLover || !player.lover" class="fa fa-heart"></i>
				<span *ngIf="player.revealed">
					: {{player.role}}
				</span>
				</div>
				<div *ngIf="canReveal(player)" class="player-vote-actions">
					<button (click)="reveal(player.pseudo)" class="btn btn-primary player-reveal-btn"></button>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="isMJ">
		<button (click)="next()" class="btn btn-primary">Continuer</button>
	</div>

</div>
