<div id="witch-vote" class="content">
	<h2>La sorcière prépare ses potions...</h2>
	<div *ngIf="isMJ">
		<button (click)="next()" class="btn btn-primary">Continuer</button>
	</div>

	<div *ngIf="isWitch && !isWitchDead">
		<div *ngIf="players" class="players">
			<div *ngFor="#player of playersWithoutMe" class="player">
				<button *ngIf="canUseDeathPotion(player)"
						(click)="useDeathPotion(player.pseudo)"
						class="btn btn-primary pull-left btn-vote">
					Tuer
				</button>
				<button *ngIf="canUseLifePotion(player)"
						(click)="useLifePotion(player.pseudo)"
						class="btn btn-primary pull-left btn-vote">
					Faire vivre
				</button>
				<span class="pull-left">&nbsp;{{player.pseudo}}</span>
			</div>
		</div>
	</div>
</div>
