.mj {
	font-size: 17px;

	span {
		font-weight: bold;
	}
}

.players {

	.player {

		$height: 60px;
		$padding: 10px;

		border-radius: 3px;
		border: 2px solid black;
		background-image: url("/img/components/images/log_spruce.png");
		min-height: $height;
		vertical-align: middle;
		line-height: $height - ($padding * 2);
		padding: $padding;
		font-size: $default-font-size;
		margin-bottom: 5px;

		&.dead {
			background-color: #ccc;
		}

		&-name, &-result {
			@include make-xs-column(12);
		}
	}
	margin-bottom: 15px;
}
