.mj {
	font-size: 17px;

	span {
		font-weight: bold;
	}
}

.players {

	white-space: nowrap;

	.player {

		$height: 60px;
		$padding: 10px;

		border-radius: 3px;
		border: 2px solid black;
		background-image: url("/img/components/images/log_spruce.png");
		min-height: $height;
		vertical-align: middle;
		padding: $padding;
		font-size: $default-font-size;
		margin-bottom: 5px;
		overflow: hidden;

		&.dead {
			background-color: #ccc;
		}

		&-name, &-vote-for {
			@include make-xs-column(6, 0);
		}

		&-vote-count {
			@include make-xs-column(12, 0);
		}
	}
	margin-bottom: 15px;
}
