.mj {
	font-size: 17px;

	span {
		font-weight: bold;
	}
}

.players {
	.player {
		border-radius: 3px;
		border: 1px solid #ccc;
		background-color: white;
		min-height: 40px;
		vertical-align: middle;
		padding: 10px;
		font-size: 17px;
		margin-bottom: 5px;
	}
	margin-bottom: 15px;
}
