@import "./components/sass/variables";

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./components/sass/mixins";

@import '../node_modules/font-awesome/scss/font-awesome';

@import "./components/sass/button";
@import "./components/sass/players";

@import "./components/socket-status/socket-status";
@import "./login/login";
@import "./waiting-room/waiting-room";
@import "./player-vote/player-vote";
@import "./voyante/voyante";

@font-face {
	font-family: crom;
	src: url("/fonts/components/fonts/Crom_v1.ttf");
}

@font-face {
	font-family: grange;
	src: url("/fonts/components/fonts/Grange.ttf");
}

.well {
	background-color: #696969;
	border: 1px solid #B9B8B8;
}

.text-debug {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


[hidden], template {
	display: none !important;
}

html {


	body {

		background-image: url("/img/components/images/lgws.png");
		background-size: cover;

		font-family: grange, "Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color: $dark;
		color: white;
		font-size: $default-font-size;

		h1 {
			text-align: center;
		}

		h2 {
			//text-align: center;
		}

		.content {
			@include make-xs-column(12, 0);
			@include make-sm-column(8);
			@include make-sm-column-offset(2);
			@include make-md-column(6);
			@include make-md-column-offset(3);

			@media (max-width: $screen-xs-max) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

}