@import "./components/sass/variables";

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./components/sass/mixins";

@import "./components/sass/button";
@import "./components/sass/players";

@import "./components/socket-status/socket-status";
@import "./login/login";
@import "./waiting-room/waiting-room";
@import "./player-vote/player-vote";


html {

	body {
		background-color: #403e3c;
		color: white;

		h1 {
			text-align: center;
		}

		h2 {
			//text-align: center;
		}

		.content {
			@include make-xs-column(12, 0);
			@include make-sm-column(8);
			@include make-sm-column-offset(2);
			@include make-md-column(6);
			@include make-md-column-offset(3);

			@media (max-width: $screen-xs-max) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

}